<ion-header [translucent]="true" color="warning">
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo">QRList</ion-title>

    <ion-button [routerLink]="['/folder/inbox']" shape="round" fill="outline" id="bot_atras" slot="end">
      <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<section class="wrapper__scanner">
  <button class="float-button" (click)="changeCamera()"><ion-icon name="camera-outline"></ion-icon></button>
  <div class="video--container">
    <video #video autoplay playsinline></video>
  </div>
  <p class="mt-2">{{"Centrar camara con QR"}}</p>
  <div class="video--container" style="display: none;">
    <canvas id="canvas" #canvas></canvas>
  </div>
</section>

<ion-footer [translucent]="true">
  <ion-toolbar>
  <br><h1 style="text-align: center">QRList</h1><br><br>
  </ion-toolbar>
</ion-footer>
