<ion-header [translucent]="true" color="warning">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo">QRList</ion-title>
    <ion-button [routerLink]="['/folder/inbox']" shape="round" fill="outline" id="bot_atras" slot="end">
      <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-searchbar color="medium" animated="true" placeholder="Buscar"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  
    <ion-header>
      <ion-toolbar>
        <ion-searchbar color="light" animated="true" placeholder="Filtrar"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item-sliding>
          <ion-item>
            <ion-label>link paltas</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-button [routerLink]="['/editar']" size="small" color="warning" fill="outline">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/editar']" size="small" color="danger" fill="outline">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
  
        <ion-item-sliding>
          <ion-item>
            <ion-label>Link panaderia Alemana</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-button [routerLink]="['/editar']" size="small" color="warning" fill="outline">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/editar']" size="small" color="danger" fill="outline">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
  
        <ion-item-sliding>
          <ion-item>
            <ion-label>Link sos</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-button [routerLink]="['/editar']" size="small" color="warning" fill="outline">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/editar']" size="small" color="danger" fill="outline">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">QRList</ion-title>
  </ion-toolbar>
</ion-footer>
