<ion-header [translucent]="true" color="warning">
  <ion-toolbar >
    
    <ion-title id="titulo">QRList</ion-title>

    <ion-button [routerLink]="['/login']" shape="round" fill="outline" id="bot_atras" slot="end">
      <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>

  <ion-row>
    <ion-col></ion-col>
    <ion-col size="10">
      <ion-card id="card">
        <ion-title class="title">
        Ingresa tu Email
        <p class="SubTitulo">Para recibir un restablecimiento de contraseña</p>
        </ion-title>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>

                <!-- Tus listas de entrada de datos aquí -->

                <ion-list>
                  <ion-item>
                    <ion-input [(ngModel)]="email" labelPlacement="floating" >
                      <div slot="label">Email </div>
                    </ion-input>
                  </ion-item>
                </ion-list>

                <ion-row class="ion-text-center"> <!-- Utiliza ion-row para los botones -->
                  <ion-col>
                    <ion-button (click)="resetPassword()" color="light">Enviar</ion-button>
                  </ion-col>
                </ion-row>

              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <br><h1 style="text-align: center">QRList</h1><br><br>
  </ion-toolbar>
</ion-footer>
