<ion-header [translucent]="true" color="warning">
  <ion-toolbar>

    <ion-title id="titulo"></ion-title>

    <ion-button [routerLink]="['/login']" shape="round" fill="outline" id="bot_atras" slot="end">
      <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradiente">
  <br><br />

  <ion-row>
    <ion-col>
      <ion-col size="10">
        <ion-card id="card">
          <ion-card-header style="align-items:center">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-card-title>Nuevo Usuario</ion-card-title>
          </ion-card-header>

          <form [formGroup]="regForm" novalidate>

            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col></ion-col>
                  <ion-col>

                    <!-- Tus listas de entrada de datos aquí -->
                    <!-- nombre usuario -->
                    <ion-list>
                      <ion-item>
                        <ion-input labelPlacement="floating" formControlName="nombreUsuario" label="Nombre Usuario"
                          labelPosition="floating"></ion-input>
                      </ion-item>
                    </ion-list>
                    <div
                      *ngIf="this.regForm.controls?.['nombreUsuario'].touched && this.regForm.controls?.['nombreUsuario'].invalid">
                      <ion-text *ngIf="errorControl.nombreUsuario.errors?.required">
                        Usuario es requerido.
                      </ion-text>
                    </div>
                    <!-- email -->
                    <ion-list>
                      <ion-item>
                        <ion-input labelPlacement="floating" formControlName="email" label="Email"
                          labelPosition="floating"></ion-input>
                      </ion-item>
                    </ion-list>
                    <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
                      <ion-text *ngIf="errorControl.email.errors?.required">
                        Email es requerido.
                      </ion-text>
                      <ion-text *ngIf="errorControl.email.errors?.pattern">
                        Email debe ser válido.
                      </ion-text>
                    </div>
                    <!-- contraseña -->
                    <ion-list>
                      <ion-item>
                        <ion-input labelPlacement="floating" formControlName="password" type="password"
                          label="Contraseña" labelPosition="floating"></ion-input>
                      </ion-item><!--"Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"-->
                    </ion-list>
                    <div
                      *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">
                      <ion-text *ngIf="errorControl.password.errors?.required">
                        Contraseña es requerida.
                      </ion-text>
                      <ion-text *ngIf="errorControl.password.errors?.pattern">
                        La contraseña debe tener al menos:
                        Un caracter,
                        Una letra mayúscula,
                        Un número,
                        Contener 8 dígitos.
                      </ion-text>
                    </div>
                    <!-- repita contraseña -->
                    <!--<ion-list>
                  <ion-item>
                      <ion-input labelPlacement="floating" formControlName="repeatPassword" type="password" label="Repita Contraseña" labelPosition="floating"></ion-input>
                  </ion-item>
                </ion-list>
                <div *ngIf="this.regForm.controls?.['confirmPassword'].touched && this.regForm.controls?.['confirmPassword'].invalid">
                    <ion-text *ngIf="errorControl.password.errors?.required">
                      Contraseña es requerida.
                    </ion-text>
                    <ion-text *ngIf="errorControl.confirmPassword.errors?.pattern">
                      Las contraseñas deben ser iguales.
                    </ion-text>
                </div>-->

                    <ion-row class="ion-text-center"> <!-- Utiliza ion-row para los botones -->
                      <ion-col>
                        <ion-button (click)="registro()" color="light">Guardar</ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-button [routerLink]="['/login']" color="light">Cancelar</ion-button>
                      </ion-col>
                    </ion-row>

                  </ion-col>
                  <ion-col></ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>

            <ion-col></ion-col>
          </form>

        </ion-card>
      </ion-col>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <br>
    <h1 style="text-align: center">QRList</h1><br><br>
  </ion-toolbar>
</ion-footer>